body {
  background-image: url("./background.jpg");
  font-family: "Roboto", sans-serif;
  padding: 15px 15px 0px 15px;
  text-align: center;
}

.title {
  text-align: center;
  font-family: "Special Elite", cursive;
  padding-top: 20px;
  font-size: 30px;
}

.whiteDiv {
  background-color: yellow;
  width: 45%;
  min-width: 300px;
  margin: auto;
  border-radius: 15px;
  padding-bottom: 25px;
}

.dogImage {
  display: block;
  margin: auto;
  max-width: 280px;
  border-radius: 15px;
}

.multipleChoice {
  border-radius: 15px;
  background-color: blue;
  color: white;
  border: 5px solid black;
  text-align: center;
  margin: 12px 10px 2px 10px;
  /* width: 40%; */
  min-width: 300px;
  padding: 3px;
  font-size: 20px;
}

.errorMessage {
  margin: 0;
}

#signature {
  margin: 30px 10px 5px 10px;
  text-align: center;
  z-index: -1;
}
